<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>权限列表</title>
</head>
<body>

    <div th:fragment="logout" class="logout" sec:authorize="isAuthenticated()">
        Logged in user: <span sec:authentication="name"></span> |
        Roles: <span sec:authentication="principal.authorities"></span>
        <div>
            <form action="#" th:action="@{/logout}" method="post">
              <input type="submit" value="退出" />
            </form>
        </div>
    </div>

    <h2>权限列表</h2>
    <div>您具有以下权限</div>
    <div sec:authorize="hasAuthority('add')">增</div>
    <div sec:authorize="hasAuthority('delete')">删</div>
    <div sec:authorize="hasAuthority('edite')">改</div>
    <div sec:authorize="hasAuthority('get')">查</div>
    <div>您具有以下角色</div>
    <div sec:authorize="hasRole('ADMIN')">ADMIN</div>
    <div sec:authorize="hasRole('GUEST')">GUEST</div>

</body>

</html>